davtechpro_calender_agent.json
{
  "name": "davtechpro calender agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7c02ebb8-0618-4467-a161-9d06c3f2c1e0",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "56651b44-9b2b-4572-adc5-ac12f6bbc0e6",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "id": "1a0a43c9-9d19-432f-8372-6b24ce3cb16f",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1200,
        -60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "davtechproofficial@gmail.com",
          "mode": "list",
          "cachedResultName": "davtechproofficial@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `define when the event is going to start `, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `define when the event is going to end `, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `give a summary of the event `, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -840,
        300
      ],
      "id": "625af879-87fd-4893-a538-43c5fef5ceeb",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m2kFclTlALLS7vhC",
          "name": "davtechproofficial@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "davtechproofficial@gmail.com",
          "mode": "list",
          "cachedResultName": "davtechproofficial@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1280,
        280
      ],
      "id": "1b6e45ab-0138-4a94-91cb-a6263e22646f",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m2kFclTlALLS7vhC",
          "name": "davtechproofficial@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "davtechproofficial@gmail.com",
          "mode": "list",
          "cachedResultName": "davtechproofficial@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1000,
        320
      ],
      "id": "46d197df-25f2-4f1a-a4cd-832610b978e7",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m2kFclTlALLS7vhC",
          "name": "davtechproofficial@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "davtechproofficial@gmail.com",
          "mode": "list",
          "cachedResultName": "davtechproofficial@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1140,
        320
      ],
      "id": "ac628b0e-934a-4476-bf86-ed49374f80b2",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m2kFclTlALLS7vhC",
          "name": "davtechproofficial@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "davtechproofficial@gmail.com",
          "mode": "list",
          "cachedResultName": "davtechproofficial@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -620,
        300
      ],
      "id": "679eaf4f-5923-41e8-b03f-363c645e3e26",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m2kFclTlALLS7vhC",
          "name": "davtechproofficial@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -60
      ],
      "id": "25a89e4a-9397-4686-b654-057cca1fc235",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "    CALENDER AGENT",
        "height": 140,
        "width": 200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -160
      ],
      "id": "de542b95-4a2c-47a2-9707-9dbfb6096e90",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1420,
        180
      ],
      "id": "15eeeca4-92df-482d-93bd-a90895f42556",
      "name": "BRAIN",
      "credentials": {
        "googlePalmApi": {
          "id": "JKCwwEYjsVjeXRCH",
          "name": "Google Gemini(PaLM) Api account DAV TECH PRO"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BRAIN": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Lagos",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c120214a-b7cf-47d3-bf41-6afd21d2605b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30182a7920ce6332dc5e275b66efeb13a0869746cbf3019348d55af9df100cf7"
  },
  "id": "KWwOerWDivOG5mEI",
  "tags": []
}